<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mãos que Ajudam</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>🌱 Mãos que Ajudam</h1>
        <p>Pequenas atitudes podem transformar vidas.</p>
    </header>

    <main>

        <div class="card">

            <h2>Juntos podemos ajudar</h2>

            <p>
                Nosso projeto busca arrecadar recursos para
                apoiar pessoas em situação de rua.
            </p>

            <a href="/doar" class="botao">💚 Quero Doar</a>

            <br><br>

            <a href="/campanhas" class="botao">Ver Campanhas</a>

            <br><br>

            <a href="/resumo" class="botao">📊 Ver Resumo das Doações</a>

        </div>

    </main>

    <footer>
        <p>© 2026 Mãos que Ajudam</p>
    </footer>

</body>

</html>